*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.result-your {
    margin-left: 230px;
    display: inline;
}

.result-komp {
    margin-left: 430px;
    display: inline;
}

.choose-komp {
    margin-top: 15px;
    text-align: center;
    color: rgb(56, 56, 255);
    font-family: 'Courier New', Courier, monospace;
}

.score {
    margin-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.my-ball {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.komp-ball {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.variant-komp {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.final {
    text-align: center;
}

/** --------------------------------------------------------------- */
.col-lg-5 {
    padding: 25px;
}

.choose {
    margin-top: 15px;
    text-align: center;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

.btn {
    width: 100px;
    background-color: blue;
    margin-bottom: 5px;
    color: white;
}

#select {
    width: 50%;
    margin-left: 50px;
    border: 2px solid blue;
    height: 40px;
}

.ball {
    margin: 15px 0 0 80px;
    display: flex;
}


.winner {
    width: 0;
    height: 0;
    transition: .4s;
}

.active {
    margin: -250px auto 250px;
    padding: 50px 150px 100px;
    text-align: center;
    color: #f4f4f4;
    width: auto;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    font-size: 30px;
    font-family: sans-serif;
}

.actived {
    margin: 0px auto 250px;
    padding: 50px 150px 100px;
    text-align: center;
    color: #f4f4f4;
    width: auto;
    background: linear-gradient(-135deg, #df5959, #21338a);
    font-size: 30px;
    font-family: sans-serif;
}

#selec {
    width: 250px;
    height: 38px;
    margin-right: 15px;
    font-size: 20px;
}

#selec:focus {
    outline: none;
}
.gamers {
    justify-content: space-between;
}